# Data Science Tools and Ecosystem

## Author: 
Cong Cheng

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- create markdown cell
- create code cell
- list popular languages for Data Science

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. caret

| Data Science Tools|
|----------|
|Data Management Tools: Relational Databases|
|Data Inegration and Transformation Tools: Apache Airflow|
|Data Visualization Tools: Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335